.contact {
  padding: 40px 0;

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__info {
    margin: 40px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__item a,
  &__item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
    color: $color-main;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;

    @include on-tablet {
      flex-direction: row;
      gap: 80px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: center;
      gap: 180px;
    }
  }
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;

  @include on-tablet {
    width: 392px;
    height: 56px;
    margin: 0;
    justify-content: center;
  }

  textarea {
    height: 148px;
    width: 278px;
    border-radius: 16px;
  }

  input,
  textarea {
    font-family: $font-family;
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 40px;
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;

    &:focus {
      box-shadow: 0 0 2px rgba($color-main, 1);
    }

    @include on-tablet {
      width: 392px;
      height: 56px;
    }
  }

  .input-submit,
  .contact-submit {
    color: $color-background;
    font-weight: 700;
    background: $color-main;
    cursor: pointer;
    width: 278px;

    transition: all $effect-duration;

    &:hover {
      transform: scale(1.03);
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
    }

    @include on-tablet {
      width: 392px;
      height: 56px;
      margin-bottom: 100px;
    }
  }
}

.input-message {
  @include on-tablet {
    width: 392px;
    height: 148px;
    border-radius: 16px;
  }
}
