.header {
  background-image: url(../images/cover_photo.png);
  background-size: cover;
  background-position: left -320px top;

  @include on-tablet {
    background-size: cover;
    background-position: center;
  }

  @include on-desktop {
    background-size: cover;
    background-position: center;
  }

  &__content {
    @include content-padding-inline;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0 0 50px;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
      margin-bottom: 80px;
    }

    @include on-desktop {
      font-size: 80px;
      margin-bottom: 160px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
