.menu {
  box-sizing: border-box;
  padding: 0 20px 40px;
  background-size: cover;

  height: 100vh;
  background-color: $color-menu-background;
  font-weight: 700;
  text-transform: uppercase;

  @include on-tablet {
    padding: 0 0 64px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include on-tablet {
      @include content-padding-inline;

      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $color-background;
    text-decoration: none;
  }

  &__book-test-ride {
    display: block;
    width: fit-content;

    padding-bottom: 7px;
    border-bottom: 1px solid $color-background;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $color-background;
    text-decoration: none;
  }
}
