.section-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 100%;
  }

  @include on-desktop {
    margin-bottom: 48px;
    font-size: 64px;
    line-height: 100%;
  }

  &--align--left {
    text-align: left;
  }
}

.contact__title {
  @include on-desktop {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
  }
}
