$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$color-main: #fff;
$color-background: #1d1d1d;
$color-menu-background: #c2c2c2;
$color-contact: #7e7e83;
$color-hover: #ff3838;
$font-family: Poppins, sans-serif;
$effect-duration: 0.3s;
